
body{
    display:flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background: #000000;
    background-image: radial-gradient(circle,rgb(24, 24, 24) 0%,rgba(0, 0, 0, 0.627)100%);

    }
    
    .clock-container{
        text-align: center;
    
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(18, 18, 18, 0.2);
       
    }
    
    #clock{
        font-size: 12em;
        color: #eaf1eaf9;

font-weight: 500;
        font-family:Arial, Helvetica, sans-serif;
    }
.smalltext { font-size: 0.4em;

}
   
@font-face {
    font-family: 'squaresans' ;
    src: url(square-sans-serif-7-font/SquareSansSerif7-o6wA.ttf);
}

@font-face {
    font-family:'digital narrow' ;
    src: url(digital-dream/DIGITALDREAMNARROW.ttf);
} 